.countrytitle {
  text-align: center;
  padding: 5rem;
  padding-bottom: 50px;
  font-size: 50px;
  background: -webkit-radial-gradient(#6372ff, #5ca9fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.countryimg {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
