@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}
.info {
  padding: 6rem 0;
  background-color: #d8d8d8;
}
.infovoo::after {
  position: relative;
  top: 6.5rem;
  content: "";
  background: linear-gradient(to right, #89c2ff 0%, #6372ff 100%);
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
}

.textarea p {
  color: #000;
}

.white-text {
  color: #fff;
  padding: 5px;
}

.info::after {
  position: absolute;
  top: 79.5rem;
  content: "";
  background: linear-gradient(to right, #89c2ff 0%, #6372ff 100%);
  align-items: center;
  text-align: center;
  height: 3px;
  width: 100%;
}

.corpo {
  box-sizing: border-box;
  background-color: #d8d8d8;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  margin: 0;
}

.corpo2 {
  background-image: linear-gradient(to right, #6372ff, #5ca9fb);
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  margin: 0;
}

.flightbox {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 600px;
  height: 100px;
}

.flightitem {
  box-sizing: border-box;
  background-color: #d8d8d8;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 10rem;
  padding: 2rem;
  margin: 0;
}

.flightitem h4 {
  position: relative;
  left: -24rem;
}

.infovoo {
  background-image: linear-gradient(to right, #6372ff, #5ca9fb);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 20rem;
  margin: 0;
}

.margemtop {
  margin-top: 8rem;
}

.paddingtop {
  padding-top: 5rem;
  background-color: #d8d8d8;
}

.lines {
  margin: 20px;
}

.lines2 {
  margin: 40px 20px;
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.textarea {
  background-color: #fff;
  padding: 20px 20px 150px 30px;
}

.textdiv {
  width: auto;
}

.course {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 900px;
}

.course2 {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 20px;
  display: flex;
  overflow: hidden;
  width: 900px;
  color: #fff;
  padding: 30px;
  height: 250px;
}

.course2 p,
h1,
h5 {
  color: black;
  font-family: "Open Sans", sans-serif;
}

.course h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 17px;
}

.course-preview h6 {
  padding-top: 10px;
}

.course-preview2 h2 {
  padding-bottom: 10px;
}

.course-preview2 h4 {
  padding-bottom: 10px;
}

.course-preview2 b {
  color: #001f61;
}

.rua {
  margin-bottom: 25px;
  font-family: "Muli";
  font-size: 16px;
}

.espaco {
  padding-top: 50px;
}

.course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.course-preview {
  background-image: linear-gradient(to right, #6372ff, #5ca9fb);
  color: #fff;
  padding: 30px;
  max-width: 500px;
  width: 300px;
  height: 250px;
}

.course-preview2 {
  width: 80%;
}

.course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.course-preview h3 {
  color: white;
  font-weight: 600;
}

.course-info {
  padding: 20px 30px;
  position: relative;
  width: 90%;
}

.aside {
  position: relative;
  max-width: 20%;
  margin: auto;
}

.progress-container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.progress {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.progress::after {
  border-radius: 3px;
  background-color: #2a265f;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 66%;
}

.progress-text {
  font-size: 10px;
  opacity: 0.6;
  letter-spacing: 1px;
}

.btn {
  font-family: "Open Sans", sans-serif;
  background: #5ca9fb;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 600;
}

.btn:hover {
  background: #6372ff;
  color: white;
}

.btn2 {
  font-family: "Open Sans", sans-serif;
  background: #5ca9fb;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 600;
}

.btn2:hover {
  background: #6372ff;
  color: white;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
  position: fixed;
  right: 0;
  bottom: 80px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(-10px);
}

.social-panel {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border: 5px solid #001f61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Opens Sans", sans-serif;
  position: relative;
  height: 169px;
  width: 370px;
  max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
  border: 0;
  color: #97a5ce;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 70%;
  padding: 15px;
}

.column2 {
  float: right;
  width: 30%;
  padding: 6rem 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: #001f61;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 2px 17px 6px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  width: 235px;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color: #ff7500;
  text-decoration: none;
}

.social-panel h4 {
  margin: 20px 0;
  color: #97a5ce;
  font-family: "Opens Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.social-panel ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border: 1px solid #dce1f2;
  border-radius: 50%;
  color: #001f61;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #ff6a00;
  box-shadow: 0 9px 12px -9px #ff6a00;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001f61;
}

.floating-btn:focus {
  outline: none;
}

.floating-text {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: "Opens Sans", sans-serif;
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 998;
}

.floating-text a {
  color: #ff7500;
  text-decoration: none;
}

table {
  width: 80%;
  float: left;
  text-align: center;
}

table2 {
  width: 100%;
  float: left;
  text-align: center;
}

td {
  color: black;
  text-align: center;
}

.pad {
  padding-top: 70px;
}

.pad2 {
  padding-bottom: 6px;
  padding: 5px 20px;
}

.mover {
  padding-top: 5rem;
  width: 20%;
  float: right;
}

.price {
  color: #001f61;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 27px;
  text-align: center;
  margin-right: 10px;
  padding-top: 10px;
}

th {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
  }

  .floating-btn {
    right: 10px;
  }
}
